.menu-item, .return, .add{
    margin: 0px;
}

input .add, button .add{
    color: white;
}

.return, .return:visited, .return:hover, .return:active{
    background-color: black;
}

.outer-table-wrapper{
    overflow-x: scroll;
}

.label-form{
    background-color: lightgray;
    display: block;
    padding: 10px;
    margin: 0;
    text-align: center;
}